body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.navigation-item {
    color: white;
    text-decoration: none;
}

.navigation-item:hover {
    color: black;
}

#main-content {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Styles for the nav-bar */
.nav-item {
    margin: 5px;
}

.nav-item:hover {
    color: black;
}


/* Styles for the Home Page */
.home-cards {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#featured-projects {
    margin-top: 5%;
}

.feature-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.feature-card {
    width: 30%;
}

/* Styles for About Page */
#about-card {
    width: 75%;
    margin: 0 auto;
}

#about-header {
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.professional {
    width: 25%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 10px;
}

.about-text {
    margin-bottom: 10px;
}

#about-footer {
    text-align: center;
}


/* Styles for Contact Page */
.contact-card {
    width: 75%;
    margin: 0 auto;
}

.contact-form {
    display: grid;
}

#send-message {
    margin: 0 auto;
}

#error-message {
    text-align: center;
    margin-top: 15px;
}


/* Styles for Portfolio */
.portfolio-header {
    text-align: center;
}

.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 30%;
    margin: 5px;
}

.portfolio-img {
    max-width: 95%;
    max-height: 95%;
    min-height: 95%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.project-info {
    display: grid;

}

.repo-link {
    margin: 0 auto;
    max-height: 40px;
    min-height: 40px;
}

/* Styles for Resume page */
#download {
    margin-bottom: 10px;
}

#resume-card {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.resume-cards {
    margin-bottom: 10px;
}

.resume-list {
    text-align: left;
}

.job-card {
    margin-bottom: 5px;
}

/* Styles for application footer */
#footer-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.footer-link {
    margin: 10px;
}

/* Media queries */
@media screen and (max-width: 983px) {
    .feature-list {
        flex-direction: column;
        align-items: center;
    }
    .feature-card {
        width: 75%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .project {
        width: 45%;
    }
    .professional {
        width: 40%;
    }
}

@media screen and (max-width: 464px) {
    .project {
        width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .feature-card {
        width: 90%;
    }
    .professional {
        width: 60%;
    }
}